@page "/"

<PageTitle>Blazor-WASM@HTL-Leonding</PageTitle>

<h1>Welcome to DotNet-WASM@HTL-Leonding</h1>
<span>Using the Blazor framework</span>
<button @onclick="HandleBtnClick">Click Me: @_count</button>

@if (_items is {Count: >0})
{
    <div class="list-container">
        <ul>
            @foreach (var item in _items.Reverse())
            {
                <li>@item</li>
            }
        </ul>
    </div>
}

@code {

    // could also be placed in a Index.razor.cs code-behind file (partial class)
    // to separate view from control (a little bit)
    
    private int _count;
    private ICollection<string>? _items;

    protected override void OnInitialized()
    {
        _count = 0;
        _items = new List<string>();
    }

    private Task HandleBtnClick()
    {
        _count++;
        _items?.Add($"Click count: {_count:00}, Timestamp: {TimeProvider.System.GetUtcNow()}");
        return InvokeAsync(StateHasChanged);
    }

}